LOGGING_LEVEL=debug
FB_CLIENT_ID="Facebook app id"
FB_CLIENT_SECRET="Facebook app secret"
FB_CBURL=/auth/fb/return
URL=http://localhost:8080
DB_IP1=127.0.0.1
DB_PORT=9042
DB_NAME="Keyspace name"
CASSANDRA_REPLICATION_STRATEGY=SimpleStrategy
CASSANDRA_REPLICATION_FACTOR=1
PORT=8080
JWT_SECRET="jwt secret key"
